Source: osmo-uecups
Section: net
Priority: extra
Maintainer: Osmocom team <openbsc@lists.osmocom.org>
Build-Depends: debhelper (>= 10),
               dh-autoreconf,
               autotools-dev,
               autoconf,
               automake,
               libtool,
               pkg-config,
               libjansson-dev,
               libnl-route-3-dev,
               libosmocore-dev (>= 1.9.0),
               libosmo-netif-dev (>= 1.4.0),
               libsctp-dev,
               osmo-gsm-manuals-dev (>= 1.5.0)
Standards-Version: 3.9.8
Vcs-Git: https://gitea.osmocom.org/cellular-infrastructure/osmo-uecups
Vcs-Browser: https://gitea.osmocom.org/cellular-infrastructure/osmo-uecups
Homepage: https://osmocom.org/projects/osmo-uecups

Package: osmo-uecups
Architecture: any
Multi-Arch: foreign
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: OsmoUECUPS: UE/MME/SGW side GTP user plane daemon with control plane separation
